*{
    font-family: 'Poppins';
    font-size: small;
}

body {
    text-align: center;
    padding: 1em;
    background-color: #e2e3e5;
}

.container{
    text-align: right;
}

#exampleModal{
    /* Alinha o texto ou conteúdo dentro do modal, caso nao colocar isso, ele segue o padrão do body */
    /* Se o alinhamento do body estiver centralizado, o modal ficará centralizado */
    text-align: left;    
}

.obrigatorio{ /* se colocar o span ele pega o x do fechar o modal também */
    color: red;
}

#cep:focus{
    -moz-user-focus: true;
}

#mensagem {
    font-size: 12px;
}
label {
    font-size: 12px;
}

input {
    font-size: 12px;
}