*{
    font-family: 'Poppins';
    font-size: small;
}

body {
    text-align: center;
    padding: 1em;
    background-color: #e2e3e5;
}

.container{
    text-align: right;
}

#exampleModal{
    /* Alinha o texto ou conteúdo dentro do modal, caso nao colocar isso, ele segue o padrão do body */
    /* Se o alinhamento do body estiver centralizado, o modal ficará centralizado */
    text-align: left;    
}

.obrigatorio{ 
    color: red;
    /* margin-top: -1px; */
}

#cep:focus{
    -moz-user-focus: true;
}

#mensagem {
    font-size: 12px;
}
label {
    font-size: 12px;
}

input {
    font-size: 12px;
}

#texto {
    transition: opacity 0.9s;
    font-weight: 400; 
    /* font-style: normal; */
    opacity: 0.9
}

#texto:hover {
    transition: opacity 1s;
    opacity: 1;
    /* background-color: #83C0EF; */
    color: #4367A7;                  
    font-weight: 900; 
    cursor: pointer; /* copy */
}

#titulo, #mudarCpfCnpj, #mudaRGIE{
    font-weight: 700;
}
